
  
.cartContainer {
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.cartGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.productImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.cartItemDetails {
  flex: 1;
  margin-left: 20px;
  font-weight: bolder;
  color: black;

}

.cartItemDetails p {
  margin: 5px 0;
  color: black;
}

.quantityControls {
  display: flex;
  align-items: center;

}

.quantityButton {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.quantityCount {
  margin: 0 10px;
}

.removeButton {
  background-color: #ff4d4d;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.buttonsContainer {
  display: flex;
  gap: 10px;  /* Adds a small space between buttons */
  justify-content: left;
  margin-top: 20px;
  padding-left: 20px;
}

.continueShopping, .buyNow {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;  /* Makes the buttons take up equal space */
}

.continueShopping {
  background-color: #28a745;
  color: white;
}

.buyNow {
  background-color: #007bff;
  color: white;
}
.orderSummary {
  margin-top: 30px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.orderSummary h3 {
  margin-bottom: 10px;
}

.orderSummary p {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
}

@media screen {

  
  
}