.favoritesContainer {
    padding: 30px;
    margin-top: 70px;
  }
  
  .favoritesGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    height: 300px;
    /* width: 100%; */
  }
  
  .productImage {
    width: 100%;
    height: auto;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  