/* ProductDetails.module.css */

  
.productDetailsContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color:whitesmoke;
  margin-top: 70px;
  padding-right: 30px;
}

.imageContainer {
  width: 40%;
  text-align: center;
}

.productImage {
  width: 80%;
  height: 400px;
}

.detailsContainer {
  width: 55%;
}

.detailsContainer h2 {
  font-size: 24px;
  margin-bottom: 10px;
 /* justify-content: flex-start; */

justify-items: left; 
color: black;
}

.detailsContainer p {
  font-size: 20px;
  margin-bottom: 20px;
  font-size: bolder;
}

.genderSelection,
.sizeSelection,
.colorSelection {
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
}

.selection {
  display: flex;
  gap: 10px;
}

.selectionButton  {
  padding: 10px 20px;
  background-color: #181717;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 15px;
  
  
  
  border-color: black;
}

.selectionButton:hover {
  background-color: rgb(153, 152, 152);
}

.selectionButton:active {
  background-color: #bbb;
}

.colorSelection .selectionButton {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.addToCartContainer {
  margin-top: 20px;
}

.addToCartButton {
  background-color: rgb(60, 60, 61);
  color: white;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 20%;
  text-align: center;
}

.addToCartButton:hover {
  background-color: #7c7d81;
}

@media screen {
  
}