/* ProductDetails.module.css */
.productDetailsContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.imageContainer {
  width: 40%;
  text-align: center;
}

.productImage {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.detailsContainer {
  width: 55%;
}

.detailsContainer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detailsContainer p {
  font-size: 20px;
  margin-bottom: 20px;
}

.genderSelection,
.sizeSelection,
.colorSelection {
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.selection {
  display: flex;
  gap: 10px;
}

.selectionButton {
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.selectionButton:hover {
  background-color: #ddd;
}

.selectionButton:active {
  background-color: #bbb;
}

.colorSelection .selectionButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
