.Navbar{
    display: flex;
    gap: 30px;
    font-size: 25px;
}
.search{
     display: "flex"; 
     align-items:  "center";
     margin-left: 4g00px;
}
.search input{
    
        margin-Left: "50px";
        padding: "8px";
        width: "400px";
        border: "1px solid #ccc";
        border-Radius: "4px";
     
}