/* Card.module.css */

  

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px; /* Reduced the gap between items */
  row-gap: 30px; /* Reduced the vertical gap between rows */
  padding-left: 20px;
  padding-right: 20px;
  background-color: whitesmoke;
  justify-items: center;
  padding-bottom: 40px;
 
}

.card {
  background-color: white;
  border-radius: 40px;
  overflow: hidden;
  height: 400px;
  box-shadow: 0 4px 8px rgba(54, 54, 54, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  
  flex-direction: column;
  width: 300px;
  padding :10px 10px 10px 10px;
  
}

.imageContainer {
  width: 300px;
  height: 300px; 
  padding: 5px 0px 5px 0px; 
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 50px;
  
}

.image {
  width: 300px;
  height: 300px;
  object-position: center; 
  transition: transform 0.3s ease;
  border-radius: 60px;
  
}

.card:hover .image {
  transform: scale(1.05); 
}

.details {
  padding: 15px;
  display: flex;
  justify-content: space-between; 
  font-weight: bolder;
  align-items: center;
  width: 90%;
}
/* .details:hover{
  background-color: aliceblue;
} */
.name {
  font-size: 20px;
  font-weight: bolder;
  color: black;
  cursor: pointer;
}
.name:hover{
  background-color: rgb(218, 216, 216);;
  border-radius: 10px;
}

.price {
  font-size: 20px;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}
.price:hover{
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
  border-width: 30px;
}
.actions{
  padding: 15px;
  display: flex;
  justify-content: space-between; 
  font-weight: bolder;
  align-items: center;
  width: 80%;
}



.actions > div {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}


.icon {
  font-size: 1.5em;
  color: #555;
  cursor: pointer;
  transition: color 0.3s;
  margin-left: 30px;
  
}

.icon:hover {
  color: #bd0505; 
}

@media (max-width: 1200px) {
  .cardContainer {
    grid-template-columns: repeat(1, 1fr); 
  }
}

