.paymentPage {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 70px;
}

.leftSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartItems, .addressForm, .orderSummary, .paymentMode, .cardDetails {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.cartGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.cartItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.productImage {
  max-width: 100px;
  height: auto;
}

.cardExpiration {
  display: flex;
  gap: 10px;
}


.cardDetails form div {
  margin-bottom: 10px;
}

.cardDetails form label {
  display: block;
  font-weight: bold;
}

.cardDetails form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.cardExpiration {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Address Form */
.addressForm form div {
  margin-bottom: 10px;
}

.addressForm form label {
  display: block;
  font-weight: bold;
}

.addressForm form input, .addressForm form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}